<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Паметко</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link th:rel="icon" th:href="@{../assets/img/favicon.png}"/>
  <link th:rel="apple-touch-icon" th:href="@{../assets/img/apple-touch-icon.png}"/>
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <!-- Favicons -->


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:rel="stylesheet" th:href="@{../assets/vendor/bootstrap/css/bootstrap.min.css}"/>
  <link th:rel="stylesheet" th:href="@{../assets/vendor/aos/aos.css}"/>
  <link th:rel="stylesheet" th:href="@{../assets/vendor/bootstrap-icons/bootstrap-icons.css}"/>
  <link th:rel="stylesheet" th:href="@{../assets/vendor/boxicons/css/boxicons.min.css}"/>
  <link th:rel="stylesheet" th:href="@{../assets/vendor/glightbox/css/glightbox.min.css}"/>
  <link th:rel="stylesheet" th:href="@{../assets/vendor/remixicon/remixicon.css}"/>
  <link th:rel="stylesheet" th:href="@{../assets/vendor/swiper/swiper-bundle.min.css}"/>


  <!-- Template Main CSS File -->
  <link th:rel="stylesheet" th:href="@{../assets/css/style.css}"/>

  <script>
    const alertPlaceholder = document.getElementById('liveAlertPlaceholder')

    const alert = (message, type) => {
      const wrapper = document.createElement('div')
      wrapper.innerHTML = [
        `<div class="alert alert-${type} alert-dismissible" role="alert">`,
        `   <div>${message}</div>`,
        '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
        '</div>'
      ].join('')

      alertPlaceholder.append(wrapper)
    }

    const alertTrigger = document.getElementById('liveAlertBtn')
    if (alertTrigger) {
      alertTrigger.addEventListener('click', () => {
        alert('Nice, you triggered this alert message!', 'success')
      })
    }

  </script>
</head>
<body>


<!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/courses">ПАМЕТКО</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
       <a href="/courses" class="logo me-auto rounded-circle float-left">
         <img th:src= "@{../assets/img/logo.png}" alt="logo" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/index">Почетна</a></li>
          <li><a class="nav-link scrollto" href="/courses">Курсeви</a></li>
          <li><a class="nav-link scrollto" href="/quizes">Квизови</a></li>
          <li><a class="nav-link   scrollto" href="/experiences">Искуства</a></li>
          <li><a class="nav-link scrollto" href="/forum">Форум</a></li>
          <li th:if="${session.user==null}"><a class="nav-link scrollto" href="/signin">Најава</a></li>
          <li th:if="${session.user==null}"><a class="getstarted scrollto" href="/register">Регистрирање</a></li>
          <li th:if="${session.user!=null}"><a href="/profile"><img id="ItemPreview" style="border-radius: 50%; width: 40px; height: 40px;" th:src= "@{${'../assets/userPhotos/'+session.user.username+'.png'}}"></a></li>
          <li th:if="${session.user!=null}"><a class="getstarted scrollto" href="/logout">Одјави се</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->


    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>КРЕИРАЈ ГО СВОЈОТ ПАТ ВО ВЕШТАЧКАТА ИНТЕЛИГЕНЦИЈА</h1>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">ЗАПОЧНИ</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img th:src="@{../assets/img/001.webp}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Започни</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6 offset-1">
            <p>
              Добредојде! <br>
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Различни нивоа на курсови</li>
              <li><i class="ri-check-double-line"></i> Тестирање на знаењето со квизови</li>
              <li><i class="ri-check-double-line"></i> Информирај се и учи од туѓото искуство</li>
              <li><i class="ri-check-double-line"></i> Прашај, сподели, дружи се преку форумот </li>
            </ul>
          </div>
          <div class="col-lg-5 pt-4 pt-lg-0">
            <p>
              Паметко е систем развиен за сите ентузијасти во областа на Вештачка интелигенција.
              Паметко е овде да ти помогне во развојот на твоите вештини без разлика дали си почетник или сакаш да го тестираш
              своето знаење. <br><br>
              Учи, решавај, поставувај прашања и најважно - забавувај се!
            </p>
          </div>
          <br>
        </div>
        <div class="row"> <div class="d-flex justify-content-center justify-content-lg-start">
          <a  class="col-lg-7 offset-5 pt-4 pt-lg-0 btn-get-started scrollto" href="/documentation" >Запознавање со платформата</a>
        </div></div>

      </div>
    </section><!-- End About Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Претплати се за неделни известувања</h4>
            <div  th:if="${subscribe==true}" class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Успешно се претплативте!</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div  th:if="${subscribe==false}"  class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Ве молиме пополнете го полето!</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <form action="/subscribe" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
       </div>

    </div>


    <div class="container footer-bottom clearfix">
      <div class="row justify-content-center">Креирано од Тијана Атанасовска (ФИНКИ - 2022)</div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{../assets/vendor/aos/aos.js}"></script>
<script th:src="@{../assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{../assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script th:src="@{../assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{../assets/vendor/waypoints/noframework.waypoints.js}"></script>
<script th:src="@{../assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{../assets/js/main.js}"></script>

</body>

</html>