<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Паметко</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link th:rel="icon" th:href="@{../assets/img/favicon.png}"/>
  <link th:rel="apple-touch-icon" th:href="@{../assets/img/apple-touch-icon.png}"/>
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <!-- Favicons -->


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:rel="stylesheet" th:href="@{../assets/vendor/bootstrap/css/bootstrap.min.css}"/>
  <link th:rel="stylesheet" th:href="@{../assets/vendor/aos/aos.css}"/>
  <link th:rel="stylesheet" th:href="@{../assets/vendor/bootstrap-icons/bootstrap-icons.css}"/>
  <link th:rel="stylesheet" th:href="@{../assets/vendor/boxicons/css/boxicons.min.css}"/>
  <link th:rel="stylesheet" th:href="@{../assets/vendor/glightbox/css/glightbox.min.css}"/>
  <link th:rel="stylesheet" th:href="@{../assets/vendor/remixicon/remixicon.css}"/>
  <link th:rel="stylesheet" th:href="@{../assets/vendor/swiper/swiper-bundle.min.css}"/>


  <!-- Template Main CSS File -->
  <link th:rel="stylesheet" th:href="@{../assets/css/style.css}"/>

  <style >

      #course_hero{
      width: 100%;
      height: 6vh;
      background: #37517e;
    }
    .hero_btn {
      width: 20%;

      font-family: "Jost", sans-serif;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 1px;
      display: block;
      padding: 5px 14px 6px 14px;
      border-radius: 50px;
      transition: 0.5s;
      margin: 10px 0 0 0;
      color: white;
      background: #47b2e4;
    }
  </style>
  <script>
    const answeredQs={0:0, 1:0, 2:0};
    function progress(arg1){
      console.log(answeredQs);
      answeredQs[arg1] = 1;
      current = (answeredQs[0]+answeredQs[1]+answeredQs[2])/3*100;
      document.getElementById("progressQuiz").style.width = current+'%'
      document.getElementById("progressQuiz").setAttribute("text", current+'%')
      return answeredQs;
    }
  </script>
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="courses.html">ПАМЕТКО</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="courses.html" class="logo me-auto rounded-circle float-left"><img  th:src= "@{../assets/img/logo.png}" alt="logo" class="img-fluid"></a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto " href="/index">Почетна</a></li>
        <li><a class="nav-link scrollto " href="/courses">Курсeви</a></li>
        <li><a class="nav-link scrollto active" href="/quizes">Квизови</a></li>
        <li><a class="nav-link  scrollto" href="/experiences">Искуства</a></li>
        <li><a class="nav-link scrollto" href="/forum">Форум</a></li>
        <li th:if="${session.user==null}"><a class="nav-link scrollto" href="/signin">Најава</a></li>
        <li th:if="${session.user==null}"><a class="getstarted scrollto" href="/register">Регистрирање</a></li>
        <li th:if="${session.user!=null}"><a href="/profile"><img id="ItemPreview" style="border-radius: 50%; width: 40px; height: 40px;" th:src= "@{${'../assets/userPhotos/'+session.user.username+'.png'}}"></a></li>
        <li th:if="${session.user!=null}"><a class="getstarted scrollto" href="/logout">Одјави се</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
  <section id="course_hero" class="d-flex align-items-center">
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= AI INTRO ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3> <strong>Вовед во вештачка интелигенција</strong></h3>
              <p>
              Секое од наредните прашања има три одговори. Бројот на точни одговори не е ограничен.
              </p>
            </div>

            <form method="post" action="/quizes/certificate">
            <div class="accordion-list">
              <ul >
                <li th:each="numQ: ${range}">
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span></span>
                    <h3 th:text="${questions[numQ].question}"></h3>
                    <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>

                  <div  th:onclick="'javascript:progress(\'' + ${numQ} + '\');'"  th:each="numA: ${range}" class="form-check">
                    <input class="form-check-input" type="checkbox" name='checkboxName' id="questions[numQ]" th:value="${numQ + '-'+ numA}" >
                    <label class="form-check-label" th:text="${questions[numQ].answers.getAllOptions()[numA]}" for="questions[numQ]"></label>
                    <br>
                  </div>

                </li>
              </ul>
            </div>
              <br>
              <h5>Одговорени прашања: </h5>
              <div class="progress">
                <div id="progressQuiz" class="progress-bar progress-bar-striped active" role="progressbar"
                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%" text="d">
                </div>
              </div>
              <br>
              <div  class="row d-flex justify-content-center justify-content-lg-center" >
                <button class="col-lg-6 hero_btn" style="color: white ">ЗАВРШИ</button>
              </div>

            </form>
          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
               th:style="'background-image:url('+ @{../assets/img/why-us.png} "  data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        </div>

        </div>
      </div>



    </section><!-- End Why Us Section -->


  </main><!-- End #main -->

<footer id="footer">

  <div class="container footer-bottom clearfix">
    <div class="row justify-content-center">Креирано од Тијана Атанасовска (ФИНКИ - 2022)</div>
  </div>
</footer><!-- End Footer -->
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


<!-- Vendor JS Files -->
<script th:src="@{../assets/vendor/aos/aos.js}"></script>
<script th:src="@{../assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{../assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script th:src="@{../assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{../assets/vendor/waypoints/noframework.waypoints.js}"></script>
<script th:src="@{../assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{../assets/js/main.js}"></script>


</body>

</html>