<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Паметко</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link th:rel="icon" th:href="@{../assets/img/favicon.png}"/>
    <link th:rel="apple-touch-icon" th:href="@{../assets/img/apple-touch-icon.png}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:rel="stylesheet" th:href="@{../assets/vendor/bootstrap/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{../assets/vendor/aos/aos.css}"/>
    <link th:rel="stylesheet" th:href="@{../assets/vendor/bootstrap-icons/bootstrap-icons.css}"/>
    <link th:rel="stylesheet" th:href="@{../assets/vendor/boxicons/css/boxicons.min.css}"/>
    <link th:rel="stylesheet" th:href="@{../assets/vendor/glightbox/css/glightbox.min.css}"/>
    <link th:rel="stylesheet" th:href="@{../assets/vendor/remixicon/remixicon.css}"/>
    <link th:rel="stylesheet" th:href="@{../assets/vendor/swiper/swiper-bundle.min.css}"/>

    <!-- Template Main CSS File -->
    <link th:rel="stylesheet" th:href="@{../assets/css/style.css}"/>

    <style>
        #course_hero{
            width: 100%;
            height: 6vh;
            background: #37517e;
        }
        .hero_btn {
            font-family: "Jost", sans-serif;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 1px;
            display: inline-block;
            padding: 5px 14px 6px 14px;
            border-radius: 50px;
            transition: 0.5s;
            margin: 10px 0 0 0;
            color: white;
            background: #47b2e4;
        }

    </style>

    <script type="text/javascript">
        function validate() {

            if (document.f.username.value === "") {
                alert("Username is required");
                document.f.username.focus();
                return false;
            }
            if (document.f.password.value === "") {
                alert("Password is required");
                document.f.password.focus();
                return false;
            }
            if(document.f.name.value ===""){
                alert("Name is required")
                document.f.name.focus();
                return false;
            }
            if(document.f.surname.value ===""){
                alert("Surname is required")
                document.f.surname.focus();
                return false;
            }
            if(document.f.email.value ===""){
                alert("Email is required")
                document.f.email.focus();
                return false;
            }
        }
    </script>
</head>

<body>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="courses.html">ПАМЕТКО</a></h1>
        <a href="courses.html" class="logo me-auto rounded-circle float-left"><img th:src= "@{../assets/img/logo.png}" alt="logo" class="img-fluid"></a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto " href="/index">Почетна</a></li>
                <li><a class="nav-link scrollto " href="/courses">Курсeви</a></li>
                <li><a class="nav-link scrollto" href="/quizes">Квизови</a></li>
                <li><a class="nav-link   scrollto" href="/experiences">Искуства</a></li>
                <li><a class="nav-link scrollto" href="/forum">Форум</a></li>
                <li th:if="${session.user==null}"><a class="nav-link scrollto" href="/signin">Најава</a></li>
                <li th:if="${session.user==null}"><a class="getstarted scrollto" href="/register">Регистрирање</a></li>
                <li th:if="${session.user!=null}"><a href="/profile"><img id="ItemPreview" style="border-radius: 50%; width: 40px; height: 40px;" th:src= "@{${'../assets/userPhotos/'+session.user.username+'.png'}}"></a></li>
                <li th:if="${session.user!=null}"><a class="getstarted scrollto" href="/logout">Одјави се</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="course_hero" class="d-flex align-items-center">
</section><!-- End Hero -->

<main id="main">
    <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Регистрација</h2>
            </div>

            <section id="contact" class="contact">
                <div class="container" data-aos="fade-up">

                    <div class="row">

                        <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
                            <form name="f" th:action="@{/register}"  method="post"  enctype="multipart/form-data" role="form" class="php-email-form">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="name">Име</label>
                                        <input type="text" name="name" class="form-control" id="name" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="surname">Презиме</label>
                                        <input type="text" name="surname" class="form-control" id="surname" required>
                                    </div>
                                </div>
                                    <br>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="username">Корисничко име</label>
                                        <input type="text" name="username" class="form-control" id="username" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="name">Е-маил</label>
                                        <input type="email" class="form-control" name="email" id="email" required>
                                    </div>
                                </div>
                                    <br>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="name">Лозинка</label>
                                        <input type="password" class="form-control" name="password" id="password" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="repeatedpassword">Потврди лозинка</label>
                                        <input type="password" class="form-control" name="repeatedpassword" id="repeatedpassword" required>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="form-group">
                                    <label for="profession">Професија (опционално)</label>
                                    <input type="text" class="form-control" name="profession" id="profession" required>
                                </div>
                                    </div>
                                <div class="row">
                                <div class="form-group">
                                    <label for="profilephoto">Профилна фотографија</label>
                                    <input id="profilephoto" type="file" name="profilephoto" accept="image/*" />

                                </div>
                                </div>
                               <!-- <div class="row">
                                <div class="form-group">
                                    <label for="name">Верификација (внеси документ)</label>
                                    <input type="file" name="verificationFile" accept="image/png, image/jpeg" />

                                </div>
                                </div>  -->
                                <div class="my-3">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>
                                </div>
                                <div class="text-center"><button type="submit">Регистрирај се</button></div>
                            </form>

                        </div>
                    </div>

                </div>
            </section>

        </div>
    </section>
</main>

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container footer-bottom clearfix">
        <div class="row justify-content-center">Креирано од Тијана Атанасовска (ФИНКИ - 2022)</div>
    </div>

</footer>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{../assets/vendor/aos/aos.js}"></script>
<script th:src="@{../assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{../assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script th:src="@{../assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{../assets/vendor/waypoints/noframework.waypoints.js}"></script>
<!--<script th:src="@{../assets/vendor/php-email-form/validate.js}"></script>-->

<!-- Template Main JS File -->
<script th:src="@{../assets/js/main.js}"></script>
</body>
</html>